@{
    Layout = "_Layout";
}

@RenderBody()


<div class="container text-dark">
    <div class="row text-center">
        <div class="col-md-12">
            <img src="~/ImagesJpg/@ViewData["ImmaginePartito"]" alt="Alternate Text" class="immaginepresentazionepartito" />
        </div>
    </div>


    <div class="media text-center">
        <div class="media-body paddingmedia">
            <h1 class="mt-0">@ViewData["NomePartito"]</h1>
            <p>@ViewData["DescrizionePartito"]</p>
        </div>
    </div>

    <hr />

    <div class="media text-center">
        <div class="media-body paddingmedia">
            <h2 class="mt-0">Leader: </h2>
            <p>@ViewData["LeaderPartito"]</p>
        </div>
    </div>

    <div class="container text-dark">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="~/ImmaginiLeader/@ViewData["ImmagineLeaderPartito"]" alt="Alternate Text" class=" immagineleaderpresentazionepartito" />
            </div>
        </div>
    </div>

    <hr />

    <div class="media text-center">
        <div class="media-body paddingmedia">
            <h2 class="mt-0">Gruppo Europeo di appartenenza: </h2>
            <p>@ViewData["GruppoEuropeo"]</p>
        </div>
    </div>

    <div class="container text-dark">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="~/LoghiPartitiEuropei/@ViewData["ImmagineGruppoEuropeo"]" alt="Alternate Text" class=" immaginegruppoeuropeo" />
            </div>
        </div>
    </div>

    <br />


    <hr />

    <div class="media text-center">
        <div class="media-body paddingmedia">
            <h2 class="mt-0">Ideologia: </h2>
            <p>@ViewData["Ideologia"]</p>
        </div>        
    </div>

    <hr />
</div>

<div class="container text-center">
    <a href="@ViewData["LinkStatuto"]" target="_blank" class="btn btn-primary">Vai allo statuto di @ViewData["NomePartito"]</a>
    <hr />
    <a href="@ViewData["LinkCartaValori"]" target="_blank" class="btn btn-primary">Vai alla carta dei valori di @ViewData["NomePartito"]</a>
</div>


